.login {
    margin-bottom: 1rem;
}


.login--button {
    width: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(192, 104, 192);
    border-radius: .25rem;
}