.searchbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 50%;
}

.search--input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0.5rem;
}

.search--button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 0.25rem;
}